<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="MobileOptimized" content="320" />
		<title>加氢站</title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/mystyle.css" />
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<script src="../js/mui.min.js "></script>
		<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
		<style>
			#map {
				width: 100%;
				height: 200px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headercolor ">
			<h1 class="mui-title ">加氢站</h1>
		</header>
		
		<!--<header id="header" class="mui-bar mui-bar-transparent headercolor">
			<h1 class="mui-title">加氢站</h1>
		</header>-->
		<div class="mui-content ">
			<div id="map"></div>
			<!--区域按钮-->
			<div class="btn-area">
				<button type="button" class="btn btn-default btn-radio">禅城</button>
				<button type="button" class="btn btn-default btn-radio">南海</button>
				<button type="button" class="btn btn-default btn-radio">三水</button>
				<button type="button" class="btn btn-default btn-radio">高明</button>
				<button type="button" class="btn btn-default btn-radio">顺德</button>
			</div>
			<!--加氢站列表-->
			<div id="pullrefresh" class="station-list">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-paperplane"></span>
									<div class="mui-media-body">路线规划</div>
							</button>
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-phone"></span>
									<div class="mui-media-body">电话</div>
							</button>
						<div class="mui-media-body">
							南方消防加氢合站
							<p class="mui-ellipsis list-subdiv">地址：南方消防电力大厦</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-paperplane"></span>
									<div class="mui-media-body">路线规划</div>
							</button>
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-phone"></span>
									<div class="mui-media-body">电话</div>
							</button>
						<div class="mui-media-body">
							南方消防加氢合站
							<p class="mui-ellipsis list-subdiv">地址：南方消防电力大厦</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-paperplane"></span>
									<div class="mui-media-body">路线规划</div>
							</button>
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-phone"></span>
									<div class="mui-media-body">电话</div>
							</button>
						<div class="mui-media-body">
							南方消防加氢合站
							<p class="mui-ellipsis list-subdiv">地址：南方消防电力大厦</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-paperplane"></span>
									<div class="mui-media-body">路线规划</div>
							</button>
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-phone"></span>
									<div class="mui-media-body">电话</div>
							</button>
						<div class="mui-media-body">
							南方消防加氢合站
							<p class="mui-ellipsis list-subdiv">地址：南方消防电力大厦</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-paperplane"></span>
									<div class="mui-media-body">路线规划</div>
							</button>
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-phone"></span>
									<div class="mui-media-body">电话</div>
							</button>
						<div class="mui-media-body">
							南方消防加氢合站
							<p class="mui-ellipsis list-subdiv">地址：南方消防电力大厦</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-paperplane"></span>
									<div class="mui-media-body">路线规划</div>
							</button>
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-phone"></span>
									<div class="mui-media-body">电话</div>
							</button>
						<div class="mui-media-body">
							南方消防加氢合站
							<p class="mui-ellipsis list-subdiv">地址：南方消防电力大厦</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-paperplane"></span>
									<div class="mui-media-body">路线规划</div>
							</button>
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-phone"></span>
									<div class="mui-media-body">电话</div>
							</button>
						<div class="mui-media-body">
							南方消防加氢合站
							<p class="mui-ellipsis list-subdiv">地址：南方消防电力大厦</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-paperplane"></span>
									<div class="mui-media-body">路线规划</div>
							</button>
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-phone"></span>
									<div class="mui-media-body">电话</div>
							</button>
						<div class="mui-media-body">
							南方消防加氢合站
							<p class="mui-ellipsis list-subdiv">地址：南方消防电力大厦</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-paperplane"></span>
									<div class="mui-media-body">路线规划</div>
							</button>
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-phone"></span>
									<div class="mui-media-body">电话</div>
							</button>
						<div class="mui-media-body">
							南方消防加氢合站
							<p class="mui-ellipsis list-subdiv">地址：南方消防电力大厦</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-paperplane"></span>
									<div class="mui-media-body">路线规划</div>
							</button>
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-phone"></span>
									<div class="mui-media-body">电话</div>
							</button>
						<div class="mui-media-body">
							南方消防加氢合站
							<p class="mui-ellipsis list-subdiv">地址：南方消防电力大厦</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-paperplane"></span>
									<div class="mui-media-body">路线规划</div>
							</button>
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-phone"></span>
									<div class="mui-media-body">电话</div>
							</button>
						<div class="mui-media-body">
							南方消防加氢合站
							<p class="mui-ellipsis list-subdiv">地址：南方消防电力大厦</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-paperplane"></span>
									<div class="mui-media-body">路线规划</div>
							</button>
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-phone"></span>
									<div class="mui-media-body">电话</div>
							</button>
						<div class="mui-media-body">
							南方消防加氢合站
							<p class="mui-ellipsis list-subdiv">地址：南方消防电力大厦</p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-paperplane"></span>
									<div class="mui-media-body">路线规划</div>
							</button>
						<button class="mui-pull-right btn btn-default btn-list" type="button">
									<span class="mui-icon mui-icon-phone"></span>
									<div class="mui-media-body">电话</div>
							</button>
						<div class="mui-media-body">
							南方消防加氢合站
							<p class="mui-ellipsis list-subdiv">地址：南方消防电力大厦</p>
						</div>
					</li>
				</ul>
			</div>

		</div>
		<script type="text/javascript ">
		//添加双击监听
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			btnSet();
			var ws = plus.webview.currentWebview();
			var wo = ws.opener();
			var bdmap = null,
				pcenter = null;
			mui.plusReady(function() {

				// 获取窗口对象
				pcenter = new plus.maps.Point(116.3975, 39.9074);
				setTimeout(function() {
					bdmap = new plus.maps.Map("map");
					//展示用户位置
					showUseLocation();
				}, 300);

				ws.show("pop-in");
			});

			/*
			 * 回到用户位置
			 */
			function showUseLocation() {
				bdmap.showUserLocation(true);
				bdmap.getUserLocation(function(state, pos) {
					if(0 == state) {
						bdmap.setCenter(pos);
						bdmap.setZoom(16);
					}
				});

			}
			/*
			 * 动态计算按钮位置
			 */
			function btnSet() {
				var b_w = ($(window).width() - 30) * 0.2;
				$(".btn-radio").css('width', b_w + "px");
			}
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				setTimeout(function() {
					
				}, 1500);
			}
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				setTimeout(function() {
					
				}, 1500);
			}
			
		</script>
	</body>

</html>